.evaluation-feelings{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 2em;

    .e-feelings-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;

        .e-feelings-image{
            max-height: 50px;
            max-width: 50px;
            align-self: center;
            margin: 1em;
        }

        .e-feelings-image:hover{
            cursor: pointer;
        }
    }
}
