.hashtag-checkbox{
    opacity: 0;
}

.hashtag-checkbox-label{
    font-style: normal;
    opacity: 0.5;
}

.hashtag-checkbox-label:hover{
    opacity: 1;
    cursor: pointer;
}

.hashtag-checkbox:checked + .hashtag-checkbox-label{
    opacity: 1;
}
