.button {
        display: flex;
        position: absolute;
        align-self: center;
        justify-content: space-between;
        z-index: 3;
        width: 300px;
        top: -123px;
}

.buttonPlay {
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: space-between;
    z-index: 3;
    width: 300px;
    top: -203px;
}

.buttonStop {
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: flex-end;
    z-index: 3;
    width: 300px;
    top: -203px;
}