.break-img {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 100px auto;
    max-width: 500px;
    min-width: 200px;
}

.break-img-1 {
    max-width: 20em;
    max-height: 20em;
}

.break-img-2 {
    width: 6em;
    margin: 2em;
}

