.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin-form {
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.admin-group-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.newText {
    margin-top: 20px;
}

.admin-list-group{
    max-height: 130px;
    max-width: 500%;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}