.exit {
    margin: 90px auto 0px auto;
    max-width: 500px;
}
.exit-text-bubbles{
    max-width: 55px;
    max-height: 55px;
}

.exit-text-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.exit-image{
    margin: 0em 1em 1em 0;
    max-width: 134px;
    max-height: 134px;
}

.exit-img {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.exit-text {
    margin-left: 1em;
}

.exit-textfield-text {
    margin: 50px 20px 0 20px;
}

.exit-containerForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.disabled-link {
    pointer-events: none;
  }
