.pdg {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.pdg_container{
    text-align: center;
}

.pdg_logo {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    img {
        width: 465px;
        margin-top: 40px;
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 380px) {
    .pdg_logo img {
        width: 310px;
        margin-top: 30px;
        margin-bottom: 150px;
    }
  }
