@font-face {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Verdana.ttf');
  }

@font-face {
    font-family: 'Verdana';
    font-style: bold;
    font-weight: 700;
    src: url('../fonts/verdanab.ttf');
}
