/* assets/css/app.scss */
@import './colors';
@import './fonts';

/* assets/css/app.scss */
@import '../../assets/js/React/App/Components/Home/Home.scss';
@import '../js/React/App/Components/Header/header.scss';
@import '../js/React/App/Components/Match/Match.scss';
@import '../js/React/App/Components/Break/Break.scss';
@import '../js/React/App/Components/Access/Access.scss';
@import '../js/React/App/Components/End/End.scss';
@import '../js/React/App/Components/Search/Search.scss';
@import '../js/React/App/Components/ChatRoom/ChatRoom.scss';
@import '../js/React/App/Components/Stars/Stars.scss';
@import '../js/React/App/Components/Admin/Admin.scss';
@import '../js/React/App/Components/Exit/Exit.scss';
@import '../js/React/App/Components/EvaluationHashtags/EvaluationHashtags.scss';
@import '../js/React/App/Components/Basics/HashtagInput/HashtagInput.scss';
@import '../js/React/App/Components/EvaluationFeelings/EvaluationFeelings.scss';
@import '../js/React/App/Components/Button/Button.scss';

html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Verdana';
    margin: 0px;
    padding: 0px;
}

#root {
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.app-imgAdmin {
    opacity: 0;
    position: fixed;
    z-index: 4000;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}

.app-imgAdmin:hover, .app-imgAdmin:focus {
    opacity: 1;
    position: fixed;
    z-index: 4000;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}



