{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier le texte explicatif</h1>
    {{ form_start(explanationForm) }}
            {{ form_row(explanationForm.text) }}

            <button type="submit">Modifier</button>

            {{ form_end(explanationForm) }}

{% endblock %}
