.match{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1em;
    margin: 1em;

    div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    img{
        max-width: 10em;
        max-height: 10em;
        margin-right: 1em;
    }

    .match-go{
        display: flex;
        flex-direction: row;
        margin: 2.5em;
    }

    .button-go{
        padding: 1em 2em 1em 2em;
    }

    .nomatch-retry{
        img{
            max-width: 5em;
            max-height: 5em;
        }
    }
    
}
