{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
<h1>Public chat</h1>
<p>Search status: <strong id="status">NOT STARTED</strong></p>
<ul id="chat-list"></ul>
<hr>
<form id="form">
    <input type="text" id="username" placeholder="What's your name ?">
    <textarea id="token" placeholder="Identify yourself"></textarea>
    <input type="submit" id="form-submit" value="Search"/>
</form>

<script>
    var clientInformation = {
        token: "",
        username: "",
        event: "SEARCH"
    }
    // START SOCKET CONFIG
    /**
     * Note that you need to change the "sandbox" for the URL of your project. 
     * According to the configuration in Sockets/Chat.php , change the port if you need to.
     * @type WebSocket
     */
    var conn = new WebSocket('ws://localhost:8080/search');

    conn.onopen = function(e) {
        console.info("Connection established succesfully");
    };

    conn.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if(data.event === "MATCHED")
            Chat.changeSearchStatus(data.event)
        
        console.log(data);
    };
    
    conn.onerror = function(e){
        alert("Error: something went wrong with the socket.");
        console.error(e);
    };
    // END SOCKET CONFIG
   
    
    /// Some code to add the messages to the list element and the message submit.
    document.getElementById("form").addEventListener("submit",function(e){
        e.preventDefault();
        var token = document.getElementById("token").value;
        var username = document.getElementById("username").value;

        if(!token) {
            alert("Your token!");
        }
        
        if(!username) {
            alert("Your username!");
        }

        clientInformation.token = token;
        clientInformation.username = username;
        
        Chat.sendMessage();
    }, false);
    
    // Mini API to send a message with the socket and append a message in a UL element.
    var Chat = {
        changeSearchStatus: function(status){
            document.getElementById("status").innerHTML = status;
        },
        sendMessage: function(){
            // Send info as JSON
            conn.send(JSON.stringify(clientInformation));
            // Add my own message to the list
            this.changeSearchStatus("SEARCHING...");
        }
    };

</script>

{% endblock %}