.end-img {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    img {
        margin: 40px;
    }
}

.end-resize {
    width: 20%;
}


.end-centrage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    height: 100vh;
}

// @media only screen and (min-width : 900px){
//     /* Styles pour cette Media Queries */

//     .end-resize {
//         width: 10%;
//     }
// }
