.evaluation-hashtags{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    text-align: center;

    .e-hashtags-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 1em;
    }

    .e-hashtags-input{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 500px;
        margin: 0 1em 1em 1em;
        padding: 0 1em 1em 1em;
    }
}