@import '../../../../../scss/colors';

.header-img {
  padding: 30px 0px;
  width: 176px;
  height: 55px;

}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  min-width: 320px;
  border-bottom: 1px solid $color-greyLight;
  background-color: white;
  z-index: 2;
  margin: 0 auto;
}

@media screen and (max-width: 576px){
  // .header-img {
  //   padding: 0px;
  // }
  .header {
    max-width: 100%;
    padding: 0 15px;
  }
}
