{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
<h1>Public chat</h1>
<p>Chat status: <strong id="status">ONGOING</strong></p>
<ul id="chat-list"></ul>
<hr>
<form id="form">
    <input type="text" id="username" placeholder="What's your name ?">
    <textarea id="token" placeholder="Identify yourself"></textarea>
    <textarea id="form-message" placeholder="Your public message here"></textarea>
    <input type="submit" id="form-submit" value="Send message"/>
</form>
<button id="pause">Pause</button><button id="stop">Stop</button><button id="resume">Resume</button>

<script>
    var clientInformation = {
        token: "",
        username: "",
        event: "MESSAGE"
    }
    // START SOCKET CONFIG
    /**
     * Note that you need to change the "sandbox" for the URL of your project. 
     * According to the configuration in Sockets/Chat.php , change the port if you need to.
     * @type WebSocket
     */
    var conn = new WebSocket('ws://localhost:8080/chatSession/1');

    conn.onopen = function(e) {
        console.info("Connection established succesfully");
    };

    conn.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if(data.event === "MESSAGE")
            Chat.appendMessage(data.username, data.message);
        else {
            var alertMessage = "";
            var statusMessage = "";
            switch(data.event) {
                case "PAUSE" : alertMessage = "Chat has been paused by" + data.username; statusMessage = "PAUSED"; break;
                case "STOP" : alertMessage = "Chat has been stopped by" + data.username; statusMessage = "STOPPED"; break;
                case "RESUME" : alertMessage = "Chat has been resumed by" + data.username; statusMessage = "RESUMED"; break;
            }
            alert(alertMessage);
            document.getElementById("status").innerHTML = statusMessage;
        }
        
        console.log(data);
    };
    
    conn.onerror = function(e){
        alert("Error: something went wrong with the socket.");
        console.error(e);
    };
    // END SOCKET CONFIG
   
    
    /// Some code to add the messages to the list element and the message submit.
    document.getElementById("form").addEventListener("submit",function(e){
        e.preventDefault();

        var msg = document.getElementById("form-message").value;
        var token = document.getElementById("token").value;
        var username = document.getElementById("username").value;
        
        if(!msg){
            alert("Please send something on the chat");
        }

        if(!token) {
            alert("Your token!");
        }
        
        if(!username) {
            alert("Your username!");
        }

        clientInformation.token = token;
        clientInformation.username = username;
        clientInformation.event = "MESSAGE";
        
        Chat.sendMessage(msg);
        // Empty text area
        document.getElementById("form-message").value = "";
    }, false);
    
    document.getElementById('pause').addEventListener('click', function(e) {
        clientInformation.event = "PAUSE";
        Chat.sendMessage("Chat has been paused");
        document.getElementById("status").innerHTML = "PAUSED";
    })
    
    document.getElementById('stop').addEventListener('click', function(e) {
        clientInformation.event = "STOP";
        Chat.sendMessage("Chat has been stopped");
        document.getElementById("status").innerHTML = "STOPPED";
    })
    
    document.getElementById('resume').addEventListener('click', function(e) {
        clientInformation.event = "RESUME";
        Chat.sendMessage("Chat has been resumed");
        document.getElementById("status").innerHTML = "RESUMED";
    })
    
    // Mini API to send a message with the socket and append a message in a UL element.
    var Chat = {
        appendMessage: function(username,message){
            var from;

            if(username == clientInformation.username){
                from = "Moi";
            }else{
                from = "Coopin"
            }
            
            // Append List Item
            var ul = document.getElementById("chat-list");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(from + " : "+ message));
            ul.appendChild(li);
        },
        sendMessage: function(text){
            clientInformation.message = text;
            // Send info as JSON
            conn.send(JSON.stringify(clientInformation));
            // Add my own message to the list
            if(clientInformation.event === "MESSAGE")
                this.appendMessage(clientInformation.username, clientInformation.message);
        }
    };

</script>

{% endblock %}


{# {% extends 'base.innerHTML = twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Chat</h1>
    <h3>Affichage des ChatSessionUser</h3>
    {% for chatSessionUser in chatSessionUsers %}
    <p>ID {{ chatSessionUser.id }}</p>
    <p>User_Username {{ chatSessionUser.idUser.username }} -- User_Id {{chatSessionUser.idUser.id}} </p>
    <p>SESSION {{ chatSessionUser.idSession.id }}</p>
    <a href="{{ path('show_chat_session_user', {'id': chatSessionUser.id}) }}">Acceder a la ChatSessionUser</a>
            <hr>
        {% endfor %}
    </div>

{% endblock %} #}