@import '../../../../../scss/colors';

.chatRoom-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: calc(100vh - 120px);
  margin-top: 20px;
  position: relative;
}
.chatroom {
  flex: 1;
  position: relative;
  max-width: 500px;
  min-width: 500px;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: scroll;
  box-shadow: 0 0 8px 0 rgba(255,255,255, 0.3);
}

  .chatroom .chats {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0px;
  }

  .chatroom .chats .chat {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    padding: 5px 13px;
    font-size: 14px;
    border-radius: 35px;
    list-style: none;
    float: left;
    clear: both;
    margin: 10px 0;
    max-width: 200px;
    word-wrap: break-word;
  }

  .chatroom .chats .chat img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0px;
  }

  .messageDate {
    position: absolute;
    color: grey;
    bottom: -32px;
    right: 10px;
    font-size: 12px;
    width: 150px;
  }

  .chatroom .chats .chat.right {
    border: solid 3px $color-purple;
    float: right;
    clear: both;
  }

  .chatroom .chats .chat.left {
    border: solid 3px $color-orange;
  }

  .chatroom .chats .chat a {
    text-decoration: none;
    color:#3498DB;
  }

  .input {
    height: 90px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .input textarea {
    outline: 0;
    border: 0.5px solid $color-greyLight;
    padding: 0 5px;
    border-radius: 5px;
    margin: 20px 20px;
    height: 70px;
    max-width: 300px;
    min-width: 280px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .input input[type="submit"] {
    background: $color-purple;
    border: 0.5px solid $color-greyLight;
    height: 30px;
    width: 37px;
    font-size: 14px;
    // margin-right: 40px;
    box-sizing: border-box;
    border-radius: 45%;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .input input[type="submit"]:hover {
    background: purple;
    color: #FFF;
  }

  @media screen AND (max-width: 576px) {
    .chatroom {
      width: 100vw;
      min-width: 375px;
    }
  }
