<!DOCTYPE html>
<html>
<head>
  <html lang="fr">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}
      Coopin
    {% endblock %}
  </title>
  {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    {{ encore_entry_link_tags('css/app') }}
  {% endblock %}
</head>
<body>
  {% block body %}
    <div id="root"></div>
  {% endblock %}

  {% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
  {% endblock %}
</body>

</html>
