{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    {# <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Login!</h1>

            {% if error %}
            <span> {{ error.messageKey }} </span>
            {% endif %}
            
                <form action="{{ path('login') }}" method="POST">
                    <div class="form-group">
                        <label>Username (= code d'accès) </label><br/>
                        <input required="required" name="_username" type="text" value="{{ last_username }}" class="form-control">
                    </div><br/>
                    <div class="form-group">
                        <label>Mdp (= code d'accès) </label><br/>
                        <input required name="_password" type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success, bg-warning">Connexion</button>
                    </div>
                </form>

            </div>
        </div>
    </div> #}

{% endblock %}