.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img{
        max-width: 20em;
        max-height: 20em;
        margin: 2em;
    }
}