.orange {
    color: $color-orange;
}

.stars-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.stars-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

